<div class="container" ng-controller="LoginCtrl as ctrl">

    <div class="col-lg-8 col-sm-12 col-sm-offset-2">
        <br>
        
        <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
        <!-- LOGIN FORM -->
        <div class= form-overlay-container>
            <center><img src= "/intro/images/logo.png" alt="logo" style= "width:150px;"></center>
        <form name="loginForm" ng-submit="ctrl.login()" novalidate autocomplete="off">
            <div class="form-group input-field col s6" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
                <input type="email" class="form-control" ng-model="ctrl.user.email" placeholder="Email address" name="email" required>
                <div class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                    <span class="help-inline" ng-message="required">Email Address is mandatory</span>
                    <span class="help-inline" ng-message="email">Email Address is invalid</span>
                </div>
            </div>
            <div class="form-group input-field col s6" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid}">
                <input type="{{ctrl.inputType}}" class="form-control" ng-model="ctrl.user.password" name="password" placeholder="Password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required>
                <br>
                <input type="checkbox" id="checkbox" ng-model="ctrl.passwordCheckbox" ng-click="ctrl.hideShowPassword()" />
                <label for="checkbox" ng-if="ctrl.passwordCheckbox">Hide</label>
                <label for="checkbox" ng-if="!ctrl.passwordCheckbox">Show</label>
                <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                    <span class="help-inline" ng-message="required">Password is mandatory.</span>
                    <span class="help-inline" ng-message="minlength">Password must be at least 8 characters long.</span>
                    <span class="help-inline" ng-message="pattern">Password must include a number, a special character (@, #, $), and both upper and lower cases.</span>
                </div>
            </div>

            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-default btn-lg">Login</button>
        </form> <br>
        <p><font color="white">
            Need an account? </font><a ui-sref="SignUp">Signup</a></p>
        <p><font color="white">
            Forgot your password? </font><a ui-sref="ResetPassword">Reset</a></p>
    
</div>
</div>

    <div class="col-lg-8 col-sm-12 col-sm-offset-2">

        <div style="margin: 30px 0px 50px;">
            <a href="/oauth/google" class="btn btn-block btn-social btn-google">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google
            </a>
            <a href="/oauth/facebook" class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
        </div>
    </div>

</div>