<div class="container" ng-controller="FriendsCtrl as ctrl">
<div class="col-lg-10 col-sm-12 col-sm-offset-1">
    <div class= form-overlay-container>
        <h4>MY FRIENDS</h4>
            <div class = badges-container>
            <table>
                <tr>
                    <h6>Lynette</h6>
                        <center><img src = "assets/images/badges/lynette.jpg" alt="" style ="width:150px"></center><br>
                        <p>Score: 3,555 points</p>
                    </tr><hr>

                    <tr>
                        <h6>Alex</h6>
                        <center><img src = "assets/images/badges/alex.jpg" alt="" style ="width:150px"></center><br>
                        <p>Score: 3,200 points</p>
                    </tr><hr>

                    <tr>
                        <h6>Lionel</h6>
                        <center><img src = "assets/images/badges/lionel.jpg" alt="" style ="width:150px"></center><br>
                        <p>Score: 3,000 points</p>
                    </tr><hr>

                    <tr>
                        <h6>Lydia</h6>
                        <center><img src = "assets/images/badges/lydia.jpg" alt="" style ="width:150px"></center><br>
                        <p>Score: 2,800 points</p>
                    </tr><hr>

            </table>

            </div>
        </div>
    </div>
</div>
<div class="col-lg-8 col-sm-12 col-sm-offset-2">
    <div style="margin: 20px 0px 20px;"></div>
</div>

