<div class="container" ng-controller="AchievementCtrl as ctrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <div class= form-overlay-container>
            <h4>Achievements</h4>
                <div class = badges-container>
                <table>
                    <tr>
                        <h6>Full Stack Developer</h6>
                        <center><img src = "assets/images/badges/fullstack_badge.png" alt="fullstack_badge" style ="width:150px"></center><br>
                        <center><img src = "assets/images/badges/meanstack_group.png" alt="mean_stack" style ="height:150px"></center>
                        <p>Collect these badges above to unlock achievement</p>
                        </tr><hr><hr>
 
                    <tr>
                        <h6>Song Writer</h6>
                        <center><img src = "assets/images/badges/songwriting_badge.png" alt="songwriter_badge" style ="width:150px"></center>
                        <center><img src = "assets/images/badges/songwriter_group.png" alt="songwriter_group" style ="width:350px"></center>
                        <p>Collect these badges above to unlock achievement</p>
                        </tr><hr><hr>

                </table>
 
                </div>
            </div>
        </div>
    </div>
 
    <div class="col-lg-8 col-sm-12 col-sm-offset-2">
        <div style="margin: 20px 0px 20px;"></div>
    </div>
 
   