<div class="container" ng-controller="BadgesCtrl as ctrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
       <div class= form-overlay-container>
           <h4>Badges</h4>
               <div class = badges-container>
               <table>
                   <tr>
                       <h6>Mongo DB Badge</h6>
                       <center><img src = "assets/images/badges/mongodb.png" alt="mongodb_logo" style ="width:150px"></center>
                       <a href ="">Upgrade to unlock</a>
                   </tr> <hr>

                   <tr>
                       <h6>My SQL Badge</h6>
                       <center><img src = "assets/images/badges/mysql.png" alt="mysql_logo" style ="width:150px"></center>
                       <a href ="">Upgrade to unlock</a>
                   </tr><hr>

                   <tr>
                       <h6>Express JS Badge</h6>
                       <center><img src = "assets/images/badges/expressjs.png" alt="expressjs_logo" style ="width:150px"></center>
                       <a href ="">Upgrade to unlock</a>
                   </tr><hr>

                   <tr>
                       <h6>Angular Badge</h6>
                       <center><img src = "assets/images/badges/angular.png" alt="angular_logo" style ="width:150px"></center>
                       <a href ="">Upgrade to unlock</a>
                   </tr><hr>

                   <tr>
                       <h6>Node JS Badge</h6>
                       <center><img src = "assets/images/badges/nodejs.png" alt="nodejs_logo" style ="width:150px"></center>
                       <a href ="">Upgrade to unlock</a>
                   </tr><hr>
               </table>

               </div>
           </div>
       </div>
   </div>

   <div class="col-lg-8 col-sm-12 col-sm-offset-2">
       <div style="margin: 20px 0px 20px;"></div>
   </div>

  