<div class="container" data-ng-controller="ProfileCtrl as profileCtrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <!-- Profile details -->
        <div class=form-overlay-container>
            <div class="score-header">
                <p>SCORE</p>
            </div>

            <div class="profile-score">
                <p>{{profileCtrl.localProfile.userScore}} POINTS</p>
            </div>

            <div class="profile-photo">
                <center>
                    <img src="assets/images/badges/alex.jpg" alt="Image" style="width:150px">
                </center>
            </div>

            <div class="profile-name">
                <p>{{profileCtrl.localProfile.firstName}} {{profileCtrl.localProfile.lastName}} </p>
            </div>

            <div class="profile-title">
                <p>{{profileCtrl.localProfile.userTitle}}</p>
            </div>
            <div class="text-center">
                <button type="button" ng-click="ctrl.editProfile()" class="btn btn-default btn-lg">
                    <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                    <a ui-sref="editProfile">Edit Profile</a>
                </button>
            </div>
            <div class="bio-header">
                <p>About Me</p>
            </div>

            <div class="profile-bio">
                <p>{{profileCtrl.localProfile.userBio}}</p>
                <br>

            </div>

            <div class="bio-header">
                <p>My Achievements</p>
            </div>

            <div class="profile-badges">
                <img src="assets/images/badges/Fullstack_badge.png" alt="Image" style="width:150px">
                <img src="assets/images/badges/Fullstack_badge.png" alt="Image" style="width:150px">
                <img src="assets/images/badges/Fullstack_badge.png" alt="Image" style="width:150px">
            </div>

            <div class="bio-header">
                <p>My Badges</p>
            </div>

            <div class="profile-badges">
                <img src="assets/images/badges/mysql.png" alt="Image" style="width:80px">
                <img src="assets/images/badges/mongodb.png" alt="Image" style="width:80px">
                <img src="assets/images/badges/expressjs.png" alt="Image" style="width:80px">
                <img src="assets/images/badges/angular.png" alt="Image" style="width:80px">
                <img src="assets/images/badges/nodejs.png" alt="Image" style="width:80px">
            </div>

            <div class="text-center">
                <button type="button" ng-click="ctrl.changePassword()" class="btn btn-default btn-lg">
                    <span class="oi oi-account-changePassword" aria-hidden="true"></span>
                    <a ui-sref="ChangePassword">Change Password</a>
                </button>
            </div>
            <br>
            <div class="text-center" ng-controller="LogoutCtrl as ctrl">
                <button type="button" ng-click="ctrl.logout()" class="btn btn-default btn-lg">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </button>
            </div>

        </div>
        <!-- profile details -->
    </div>



</div>